*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.7rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding-bottom: 60px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px 10px ;
    
}


/* card  */
.card{
    max-width: 280px; 
    text-align: center;
    line-height: 25px;
}

.image img{
    width: 100%;
    height: 100%;
}

.card p{
    font-size: 0.9rem;
    padding-top: 10px;
}

@media screen and (max-width: 600px) {
    .card-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 10px ;
   justify-self: center;
    
}
.card{
    max-width: 90%; 
    margin: 0 auto;
}
}